@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 4%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 4%;

    --primary: 51 100% 50%;
    --primary-foreground: 0 0% 4%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 10%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45%;

    --accent: 217 91% 60%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 51 100% 50%;
  }

  .dark {
    --background: 226 21% 11%; /* Dark Blue */
    --foreground: 0 0% 100%; /* premium-white */

    --card: 226 21% 15%; /* Slightly lighter dark blue */
    --card-foreground: 0 0% 100%;

    --popover: 226 21% 11%;
    --popover-foreground: 0 0% 100%;

    --primary: 51 100% 50%; /* premium-yellow */
    --primary-foreground: 0 0% 4%;

    --secondary: 0 0% 16%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 16%;
    --muted-foreground: 215 9% 65%; /* text-light */

    --accent: 217 91% 60%; /* premium-blue */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 226 21% 20%; /* Border color */
    --input: 0 0% 16%;
    --ring: 51 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
